<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form six wide column">
      <div class="ui stacked segment">
        <form action="/donate" method="POST">
          <h3>Enter Amount</h3>
          <div class="ui right labeled input">
            <div class="ui label">$</div>
            <input placeholder="Amount" type="text" name="amount">
            <div class="ui basic label">.00</div>
          </div>
          <div class="grouped inline fields">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="method" value="paypal">
                <label>Paypal</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="method" value="direct">
                <label>Direct</label>
              </div>
            </div>
            <div class="grouped inline fields">
              <h3> Select Candidate </h3>
              {{#each candidates }}
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="candidate" value="{{lastName}},{{firstName}}">
                    <label>{{lastName}}, {{firstName}}</label>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
          {{> formerrors}}
          <button class="ui blue submit button">Donate</button>
        </form>
      </div>
    </div>
    <aside class="six wide column">
      <img src="images/homer4.jpeg" class="ui medium image">
    </aside>
  </div>
</section>